[SETTINGS]
token=
# Filename or path to log file. 
# P.S. My recommendation is to add this file to ignore_files
log_file=
# To directory you need to synchronize
directory_path=
# In the cloud storage.
# Only name, not path.
directory_name=
# In seconds: 5 (for 5 seconds), 60 (for 1 minute)
period_time=
# Example: file.txt, example.py, .gitignore (", " is separator)
ignore_files=
